@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
    font-size: 16px;
}

:root {
    --font-primary: "Quicksand";
}
body{
    display: flex;
    width: 100vw;
    overflow-x: hidden;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*
**************
  Stilo do asider
**************
*/
aside{
    width: 13.75rem;
    min-width: 13.75rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.sidebar-sticky{
    width: 100%;
    height: auto;
    
}

.sidebar-sticky header{
    width: 100%;
    height: 4.25rem;
    max-height: 4.25rem;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    color: #FFFFFF;

    font-family: var(--font-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 1.813rem;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.imgContainer{
    width: 100%;
    height: 16.12rem;
}

.menu{
    width: 100%;
}

.menu .nav-item{
    width: 100%;
    height: 2.18rem;
    border-bottom: 2px solid #E7E7E7;
    transition: all 0.2s;
}

.menu .nav-item a{
    font-family: var(--font-primary) ;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #725C5C;
    margin-left: 10.91%;
    align-items: center;
    padding:.5rem 0rem;
}
.nav-item:hover {
    padding-left: 10px;
    background-color: #FDF1EB;
}
.active{
    background-color: #FDF1EB;
    border-left: 5px solid #ED7839 ;
 
}


/*
**************
  Stilo do Header da pagina
**************
*/
.conteudo{
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.header-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.25rem;
    background-color: #FDF1EB;
    padding: 0 2.25rem;
}

.header-titles{
    font-family: var(--font-primary);
    width: 40.188rem;
    color: #725C5C;
}

.header-titles h6{
    font-size: 1.313rem;
    font-weight: 400;
    line-height: 0;
    margin: 12px 0 5px 0;
}
.header-titles small{
    font-size: 0.813rem;
    font-weight: 400;
}

.header-titles span{
    font-size: 0.875rem;
    font-weight: 400;
}

/*
**************
  hearder compo do user pefil 
**************
*/

.languageButton{
    width: 6.063rem;
    height: 2.125rem;
}

.languageButton button{
    background-color: transparent;
    color: #333333;
    border: 1px solid #CCCCCC;
    justify-content: center;
    align-items: center;
}
.languageButton img{
    width: 1.375rem;
    height: 1.313rem;
}

.btn-secondary:hover{
    color: #333333;
    background-color: transparent;
}
.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    color: #333333;
    background-color: transparent;
    box-shadow: 0 0 0 .25rem #FDF1EB;
}
.header-info-right{
    width: 12.625rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-perfil{
    font-family: var(--font-primary);
    color: #333333;
    text-align: right;
    margin-right: 11px;
    line-height: 13px;
}
.info-perfil p{
    font-size: 0.875rem;
    margin: 0;
}
.info-perfil span{
    font-size: 0.75rem;
}

.imgPerfil{
    position: relative;
    width: 1.894rem;
    height: 1.894rem ;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
}
.imgPerfil img{
    width: 1.894rem;
    height: 1.894rem ;
    border-radius: 50%;
    object-fit: cover;
}
#notificationIcon{
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    z-index: 200;
    left: 22px;
    bottom: 19px;
}
/*
**************
  comteudo principal da pagina(video e detalhes)
**************
*/

.conteudo_video_detalhes{
    width: 66.188rem;
    height: 32rem;
    margin: 0rem 2.813rem;
    display: block;
}
.header_video_detalhes{
    width: 100%;
    height: 3.375rem;
    font-family: var(--font-primary);
    margin: 20px 0 19px 0;
    justify-content: space-between;
}


.iconeOptions .btn{
    margin-left: 5px;
    background: #ED7839;
    border: none;
    height: 1.938rem;
}

.download-button{
    align-items: center;
    text-align: center;
    width: 7.5rem;
    
    padding: 6px 12px;
    font-size: 1rem;
    font-weight: 501;
    font-family: var(--font-primary);
    color: #FFFFFF;
    border-radius: 4px;
}
.download-button i{
    margin-right: 5px;
}
.iconeOptions .btn:hover{
    background-color: #FFB455;
}
.iconeOptions .text_link{
    display: block;
    text-align: right;
    margin-top: 10px;
    font-family: var(--font-primary);
    font-size: 0.875rem;
    color: #ED7839;
    font-weight: 501;
    padding: 0;
    
}
.header_video_detalhes h4{
    width: 48.125rem;
    font-size: 1.25rem;
    font-weight: 900;
    color: #ED7839;
    text-align: left;
}
.container_video_datalhes{
    width: 100%;
    height: 27.438rem;
    display: flex;
    justify-content: space-between;
}
.video_container{
    width: 48rem;
    height: 100%;
    background: linear-gradient(0deg,#ED7839 0%,#FFB455 100%);
}
.video_container img{
    opacity: .6;
}

.detalhes_container{
    width: 15.125rem;
    height: 27.438rem;
    margin-left: 1.938rem;
    border: 1px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
}
.detalhes_container header{
    width: 15.125rem;
    height: 2.813rem;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    color: #4E4E4E;
    font-family: var(--font-primary);
    font-weight: 501;
    font-size: 1.25rem;
    padding: 11px 15px 9px 15px;
}

.text_detalhes{
    padding: 15px 10px;
    overflow-y: auto;
    width: 15.125rem;
    height: 89%;
    max-height: 90%;

    font-family: var(--font-primary);
    font-size: 0.75rem;

}

.text_detalhes li{
    font-size: 14px;
    font-style: normal;

}
.text_detalhes b{
    font-size: 13px;
}

.detalhes_list_autores{
    margin: 1rem 0 2rem 0;
    padding: 0;
}

.detalhes_list_universidade{
    padding-left: 0px;
    
}
.detalhes_list_universidade li{
    font-size: 0.75rem;
    color: #464343B3;
}

/*
**************
  Stilo do sessão de resumo
**************
*/

.resumo{
    width: 66.188rem;
    height: auto;
    margin: 1.875rem 2.813rem;
    
}

.resumo_header{
    width: 100%;
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #FDF1EB;
}

.resumo p,a{
    padding: 15px;
    font-size: 0.875rem;
    font-family: var(--font-primary);  
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #5C5C5C;
    margin: 0;

}

.resumo_text_inicial:hover{
    color: #5C5C5C;
}
.ver{
    color: #ED7839 ;
    font-size: 0.875rem;
    font-family: var(--font-primary);  
    font-weight: 501;
    padding-left: 15px;
}

#verMenos{
    cursor: pointer;
}