@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
    font-size: 16px;
}

:root {
    --font-primary: "Quicksand";
    --color-primary: #ED7839;
}
body{
    display: flex;
    width: 100vw;
    overflow-x: hidden;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*
**************
  Stilo do asider
**************
*/


.sidebar-sticky{
    width: 16%;
    /* min-width: 13.75rem; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    position: fixed;
    transition:  all 0.5s;
    
}

.sidebar-sticky header{
    width: 100%;
    height: 4.25rem;
    max-height: 4.25rem;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    color: #FFFFFF;
    position: relative;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 1.813rem;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.sidebar-sticky header i{
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    right: 0;
    top: 0;
}

.imgContainer{
    width: 100%;
    object-fit: none;
}

.menu{
    width: 100%;
}

.menu .nav-item{
    width: 100%;
    border-bottom: 2px solid #E7E7E7;
    transition: all 0.2s;
}

.menu .nav-item a{
    font-family: var(--font-primary) ;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #725C5C;
    margin-left: 10.91%;
    align-items: center;
    padding:.5rem 0rem;
}
.nav-item:hover {
    padding-left: 10px;
    background-color: #FDF1EB;
}
.active{
    background-color: #FDF1EB;
    border-left: 5px solid #F48F44 ;
 
}
.hamburguer{
    display: none !important;
    width: 2rem;
    height: 2rem;  
    position: fixed;
    left: 2rem;     
    top: .5rem;
    z-index: 110;       
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition:  all 0.5s;
}
.line{
    width: 100%;
    height: .2rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 0.5s;
}
.show-menu{
    left: 0 !important;
    width: 220px;
    z-index: 200;
    background: #fff;
}
.background{
    width: 100vw;
    height: 100%;     
    background-color: #000000a3;
    position: fixed;
    z-index: 300;
    cursor: pointer;

}


/*
**************
  Stilo do Header da pagina
**************
*/
.conteudo{
    height: 100%;
    flex-direction: column;
    margin-left: 16%;
}
.header-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FDF1EB;
    padding: 0 2.25rem;
}

.header-titles{
    font-family: var(--font-primary);
    width: 40.188rem;
    color: #725C5C;
}

.header-titles h6{
    font-size: 1.313rem;
    font-weight: 400;
    margin-bottom: 0;
}
.header-titles small{
    font-size: 0.813rem;
    font-weight: 400;
}

.header-titles span{
    font-size: 0.875rem;
    font-weight: 400;
}

#iconeSlacaMobile {
    margin: 0 auto;
    visibility: hidden;
}
#iconeSlacaMobile h4{
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;

}

#iconeSlacaMobile span{
    font-family: var(--font-primary);
    font-size: 12px;
    color: #fff;
}

/*
**************
  hearder compo do user pefil 
**************
*/

.languageButton{
    width: 6.063rem;
    height: 2.125rem;
    margin-right: 2rem;
    border: none;
}

.languageButton button{
    background-color: transparent;
    color: #333333;
    border: 1px solid #CCCCCC;
    justify-content: center;
    align-items: center;
}
.languageButton img{
    width: 1.375rem;
    height: 1.313rem;
}

.btn-secondary:hover{
    color: #333333;
    background-color: transparent;
}
.btn-check:focus+.btn-secondary, .btn-secondary:focus {
    color: #333333;
    background-color: transparent;
    box-shadow: 0 0 0 .25rem #FDF1EB;
}
.header-info-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-perfil{
    font-family: var(--font-primary);
    color: #333333;
    text-align: right;
    margin-right: 11px;
    line-height: 13px;
}
.info-perfil p{
    font-size: 0.875rem;
    margin: 0;
}
.info-perfil span{
    font-size: 0.75rem;
}

.imgPerfil{
    position: relative;
    width: 1.894rem;
    height: 1.894rem ;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
}
.imgPerfil img{
    width: 1.894rem;
    height: 1.894rem ;
    border-radius: 50%;
    object-fit: cover;
}
#notificationIcon{
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    z-index: 200;
    left: 22px;
    bottom: 19px;
}
/*
**************
  conteudo principal da pagina(video e detalhes)
**************
*/

.conteudo_video_detalhes{
    /* width: 92%; */
    /* height: 32rem; */
    margin: 0rem 2.813rem;
    display: block;
}
.header_video_detalhes{
    width: 100%; 
    font-family: var(--font-primary);
    margin: 20px 0 19px 0;
    justify-content: space-between;
}


.iconeOptions .btn{
    margin-left: 5px;
    background: var(--color-primary);
    border: none;
    height: 1.938rem;
}
.iconeOptions div{
    width: 220px;
}

.download-button{
    align-items: center;
    text-align: center;
    width: 7.5rem;
    
    padding: 6px 12px;
    font-size: 1rem;
    font-weight: 501;
    font-family: var(--font-primary);
    color: #FFFFFF;
    border-radius: 4px;
}
.download-button i{
    margin-right: 5px;
}
.iconeOptions .btn:hover{
    background-color: #FFB455;
}
.iconeOptions .text_link{
    display: block;
    text-align: right;
    margin-top: 10px;
    font-family: var(--font-primary);
    font-size: 0.875rem;
    color: var(--color-primary);
    font-weight: 501;
    padding: 0;
    cursor: pointer;
    
}
.header_video_detalhes h4{
    width: 48.125rem;
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--color-primary);
    text-align: left;
}
.container_video_datalhes{
    width: 100%;
    display: flex;
}
.video_container{
    width: 48rem;
    background: linear-gradient(0deg,#ED7839 0%,#FFB455 100%);
    cursor: pointer;
}
.video_play{
    width: 100%;
    height: 100%;
}
.video_container img{
    opacity: .6;
}

.detalhes_container{
    width: 15.125rem;
    height: 27.438rem;
    margin-left: 1.938rem;
    border: 1px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
}
.detalhes_container header{
    width: 100%;
    height: 2.813rem;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    color: #4E4E4E;
    font-family: var(--font-primary);
    font-weight: 501;
    font-size: 1.25rem;
    padding: 11px 15px 9px 15px;
}

.text_detalhes{
    padding: 15px 10px;
    overflow-y: auto;
    width: 100%;
    height: 89%;
    max-height: 90%;

    font-family: var(--font-primary);
    font-size: 0.75rem;

}

.text_detalhes li{
    font-size: 14px;
    font-style: normal;

}
.text_detalhes b{
    font-size: 13px;
}

.detalhes_list_autores{
    margin: 1rem 0 2rem 0;
    padding: 0;
}

.detalhes_list_universidade{
    padding-left: 0px;
    
}
.detalhes_list_universidade li{
    font-size: 0.75rem;
    color: #464343B3;
}

/*
**************
  Stilo do sessão de resumo
**************
*/

.container_secondary{
  
    height: auto;
    margin: 1.875rem 2.813rem;
    border: 1px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
}

.header_secondary{
    width: 100%;
    font-family: var(--font-primary);
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #FDF1EB;
}

.container_resumo p,a{
    padding: 15px;
    font-size: 0.875rem;
    font-family: var(--font-primary);  
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #5C5C5C;
    margin: 0;

}

.resumo_text_inicial:hover{
    color: #5C5C5C;
}
.ver{
    color: var(--color-primary) ;
    font-size: 0.875rem;
    font-family: var(--font-primary);  
    font-weight: 501;
    padding-left: 15px;
}

#verMenos{
    cursor: pointer;
}

/*
**************
  Stilo do sessão de discursões
**************
*/
.disabled{
    display: none !important;
    transition: all 0.3s;
}

.activate{
    display: flex !important;
    flex-direction: column;
    transition: all 0.3s
}


#NovoTopico{
    
    position: relative;
    width: 100%;
    border-bottom: 1px solid #E7E7E7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1.875rem auto;
    transition: all 0.2s;
}

#NovoTopico h5{
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
    color: var(--color-primary);
    margin-top: 1rem;
}

.list_icons{
    width: 16.141rem;
    justify-content: space-between;
}

.list_icons img{
    width: 3.141rem;
    height: 3.059rem;
}

#NovoTopico p{
    width: 100%;
    margin: 2.225rem 0 1.938rem 0;
    font-family: var(--font-primary);
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    color: #595959
}

#NovoTopico .btn{
    font-family: var(--font-primary);
    font-size: 16px;
    align-items: center;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    border: none;
    position: absolute;
    bottom: -1rem;
}

#NovoTopico .btn i{
    margin-right: 4px;
}

/* 
* style do formulário para adicionar novo topico de discursão
*/
.form_new_question{
    display:none;
    position: relative;
    width: 98%;
    border-bottom: 1px solid #E7E7E7;
    flex-direction: column;
    justify-content: center;
   
    margin: 1rem auto 1.875rem auto;
 
}

.form_new_question header{
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;  
    text-align: center;
    color: #5C5C5C;
}
.form_new_question label{
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 19px;
    color: #ED7839;

}

.form_new_question input{
    font-family: var(--font-primary);
    font-size: 14px;
    color: #4D4D4D;
}

#inputAssunto::placeholder {
    font-family: var(--font-primary);
    font-size: 14px;
    color: #4D4D4D;
}
#textAreaConteudo{
    border-radius: .25rem .25rem 0 0;
    font-family: var(--font-primary);
    font-size: 14px;
    color: #4D4D4D;
}

.buttonSendDuvida{
    background: #EAF1F2;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    justify-content: space-between;
}

.iconsFormatText img{
    width: 12px;
    height: 10px;
    margin-left: 29px;
    cursor: pointer;
}

.buttonSendDuvida button{
    width: 205px;
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    border-radius: 0px 0px 4px 0px;
    justify-content: center;
    border: none;
}
/*
**************
  Stilo dos cards de topico enviado com sucesso
**************
*/
.topico_enviado{
    display: none;
}
.cardmesagemSucesso{
    position: relative;
    border-bottom: 1px solid #E7E7E7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 1.875rem auto;
    padding: 1rem;
}
.cardmesagemSucesso header{
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: bold;
    color: var(--color-primary);
}
.cardmesagemSucesso p{
    font-family: var(--font-primary);
    font-size: 14px;
    color: #595959;
    margin:  18px 0 29px 0;
}

.cardmesagemSucesso a{
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-decoration-line: underline !important;
    color: #F48F44 !important;
}

.cardmesagemSucesso button{
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 1rem;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    position: absolute;
    bottom: -1rem;

    
}

.card_edit_topico{
    display: none;
    width: 95%;
    background: #DDDDDD70;
    border-bottom: 1px solid #E7E7E7;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin:0 auto 1.063rem auto;
    padding:  35px 0;
    text-align: center;

}

.card_edit_topico img{
    width: 1.875rem;
    height: 1.875rem;
    margin-bottom:  7px;
}

.card_edit_topico p{
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 1rem;
    line-height: 20px;
    color: #707070;
}

.card_edit_topico a{
    font-family: Segoe UI, sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline !important;
    color: #ED7839;
}
/*
**************
  Stilo dos cards de discursões
**************
*/

.card_discursoes{
    
    border-bottom: 1px solid #E7E7E7;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin: 0 1rem 1.063rem 1rem;

}
.card_discursoes a:hover{
    color: #4D4D4D;

}

.card_pergunta{
    padding: 17px;
 
}

.card_pergunta header h5{
    font-family: var(--font-primary);
    font-weight: bold;
    color: var(--color-primary);
    font-size: 1rem;
    margin: 0;
}
.discursoes_autor{
    font-family: var(--font-primary);
    font-weight: 501;
    font-size: 0.75rem;
    color: #5C5C5C;
}

.discursoes_paragrafo{
    width: 100%;
    font-family: var(--font-primary);
    font-size: 14px;
    color: #4D4D4D;
    margin: 10px 0;
}

.reticencia{
    color: #ed7839;
    font-weight: 700;
}
.card_footer{
    align-items: center;
}
#moreOptions{
    background-color: transparent;
    border: none; 
    color: var(--color-primary);
    margin-right: 1rem;
}

#favoritar{
    width: 1.688rem;
    height: 1.188rem;
    background: #ED7839;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.card_footer span{
    font-family: Segoe UI, sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 19px;
    color: #757575;
    margin-right: 1rem;

}

.card_respostas_autor_coauto{
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 0px;
    padding: 1.125rem 1.438rem 2.188rem 1.438rem;
}

.card_respostas_autor_coauto header{
    align-items: center;
    justify-content: space-between;
}

.cargo span{
    font-family: var(--font-primary);
    color: var(--color-primary);
    font-size: 0.875rem;
    font-weight: bold;
    margin-right: 2.125rem;
}


/*
**************
  Stilo do footer principal
**************
*/


.footer_principal{
    width: 93%;
    border-top: 1px solid #E7E7E7;
    flex-direction: row;
    margin: 3.125rem auto 0 auto;
    padding: 0 36px;
    position: relative;
}
.logo_saibaMais button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #71478E;
    border-radius: 5px;
    color: #FFF;
    margin: 0 auto;
    padding: calc(10px / 2);
    width: 200px;
    border: none;
}
.logo_saibaMais button:hover{
    text-decoration: underline !important;
    background-color: #71478E;
}
#logoFooter{
    width: 12.5rem;
    height: 5.313rem;
    margin: 15px;
}

.footerProposito{
    padding: 15px;
    margin-bottom: 2.25rem;
}
.footerProposito p{
    font-family: var(--font-primary);
    font-size: 14px;
    color: #5C5C5C;
    margin-top: 10px;
}


/* layout para tablet */

@media(max-width:992px){

    .hamburguer{
        display: flex !important;
    }
    
    .sidebar-sticky{

        left: -25%;
        transition:  all 0.5s;
        
    }
    .conteudo{
        width: 100%;
        margin-left: 0 !important;
    }

    .header-principal{
        position: fixed;

        z-index: 97;
        background: linear-gradient(
            0deg
            ,#ED7839 0%,#FFB455 100%);
    }
    .header-titles{
        display: none;
    }

    .languageButton{
        display: none;
    }

    #iconeSlacaMobile{
        visibility: visible !important;
        margin: 0 auto 0 40% !important;
    }
    .info-perfil{
        color: #fff !important;
    }

    .conteudo_video_detalhes{
        margin-top: 5% !important;
    }

    .container_video_datalhes{
        flex-direction: column !important;
    }
    .video_container{
        width: 100% !important;
    }

    .detalhes_container{
        width: 100% !important;
        height: 27.438rem;
        margin: 1rem 0 0 0 !important; 
        border: 1px solid #ECECEC;
        border-radius: 3px 3px 0px 0px;
    }

    .header_video_detalhes{
        flex-direction: column;
        align-items: flex-end;
        justify-content: right;
    }
    .header_video_detalhes h4{
        width: 100% !important;
        margin-bottom: 1rem;
    }
  

}
/* layout para smartphones */

@media(max-width:575.98px){
    body{
        background-color: #fff !important;
    }
    .hamburguer{
        display: flex !important;
    }
    
    .sidebar-sticky{

        left: -50%;
        transition:  all 0.5s;
        
    }
    .conteudo{
        width: 100vw;
        margin-left: 0 !important;
    }

    .header-principal{
        position: fixed;
        width: 100vw !important;
        max-height: 55px !important;
        height: 55px !important;
        z-index: 97;
        background: linear-gradient(
            0deg
            ,#ED7839 0%,#FFB455 100%);
    }
    .header-titles{
        display: none;
    }

    .languageButton{
        display: none;
    }

    #iconeSlacaMobile{
        visibility: visible !important;
        margin: 0 auto 0 !important;
    }
    #iconeSlacaMobile h4{
        margin-bottom: 0 !important;
        line-height: 10px;
    }
    .info-perfil{
       display: none !important;
    }

    .conteudo_video_detalhes{
        margin: 55px 0px 0px 0px !important;
        width: 100vw !important;
        padding: 0 5% !important;
    }

    .container_video_datalhes{
        flex-direction: column !important;
    }
    .video_container{
        width: 100% !important;
    }

    .detalhes_container{
        width: 100% !important;
        height: 27.438rem;
        margin: 1rem 0 0 0 !important; 
        border: 1px solid #ECECEC;
        border-radius: 3px 3px 0px 0px;
    }

    .header_video_detalhes{
        flex-direction: column;
        align-items: flex-end;
        justify-content: right;
    }
    .header_video_detalhes h4{
        width: 100% !important;
        margin-bottom: 1rem;
    }
    .container_secondary{
        margin: 1.875rem 1rem !important;
    }

    .footer_principal{
        flex-direction: column !important;
    }
  
 }